#top-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#bottom-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.newRow {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.gridBox {
    aspect-ratio: 1/1;
    width: 100vw;
}  