#top-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#bottom-container {
    display: flex;
    flex-wrap: wrap;
}

.gridBox {
    width: 6.25%;
    margin: 0%;
    aspect-ratio: 1/1;
}  